<ul class="main-menu">
	<li><a href="index.php" title="">Home</a></li>
	<li><a href="about.php" title="">About Us</a></li>
	<li><a href="services.php" title="">Services</a></li>
	<li><a href="login.php" title="">Login</a></li>
	<li class="smaller"><a href="application.php" title="">Talent/Client Application</a></li>
	<li><a href="contact.php" title="">Contact</a></li>
</ul>