{% extends "layouts/default.html.twig" %}

{% block title %}About | Model Placement International{% endblock %}

{%  block content %}
	<div class="grid_3">
		<img src="images/about_splash.png" alt="" />
	</div>
	<div class="grid_3">
		<h1>About MPI</h1>
		
		<p>Model Placement International, founded in June of 2007, began as a scouting network for top agencies all over the U.S.  Using revolutionary scouting technologies and software MPI has quickly established the reputation for the ability to find even the most project-specific talent faster than competitors. Serving both the Seattle and Portland markets with a broad range of commercial and fashion talent staff, MPI currently submits talent to companies like Nike, Microsoft, Comcast, Redken NY, Snoqualmie Casino, and many others as a full range management company.</p>
		<p>Model Placement International bases its business practices on honesty, integrity, and values strong communication with its talent and clients.  If you would like to apply to hire models as a client or apply to be represented by our agency, please fill out the form on the application tab on our homepage.</p>
	</div>
	<div class="clear"></div>
{% endblock %}