{% extends "layouts/default.html.twig" %}
{% block title %}Client/Talent Application | Model Placement International{% endblock %}
{%  block content %}
	<div class="grid_3">
		<img src="images/services_splash.png" alt="" />
	</div>
	<div class="grid_3">
		<h1>Client/Talent Application</h1>
		
		<a href="https://modelplacementinternational.agencyprosoftware.com/client/application.php" target="_blank" class="app_button" title="Client Application">Client Application</a>
		
		<a href="https://modelplacementinternational.agencyprosoftware.com/talent/application.php" target="_blank" class="app_button" title="Talent Application">Talent Application</a>
	</div>
	<div class="clear"></div>
{% endblock %}