{% extends "layouts/default.html.twig" %}
{% block title %}Contact | Model Placement International{% endblock %}
{%  block content %}
	<div class="grid_3">
		<img src="images/contact_splash.png" alt="" />
	</div>
	<div class="grid_3">
		<h1>Contact</h1>
		<p><strong>Model Placement International</strong> is located at 701-5th Ave STE 4200 Seattle, WA 98104 in the Columbia Tower Building in Downtown Seattle.</p>
		<p class="center strong marb">We are BY APPOINTMENT ONLY.</p>

		<p><strong>Model Placement International Studios</strong> are located at 2320-1st Ave STE 300 Seattle, WA 98121 in Belltown.</p>
		<p class="center strong marb">New talent interviews are BY APPOINTMENT ONLY.</p>

		<p>
		*If you would like to apply to hire models as a client or apply to be represented by our agency, please fill out the form on the application tab on our homepage.
		</p>
		<ul class="contact_details">
			<li><a href="mailto:info@modelplacementinternational.com">info@modelplacementinternational.com</a></li>
			<li>Office:  425-296-9197</li>
			<li>Fax: 206-319-4460</li>
			<li>Booking/New Faces: Aaron Dario 425-753-1029</li>
		</ul>
	</div>
	<div class="clear"></div>
{% endblock %}