{% extends "layouts/splash.html.twig" %}
{% block title %}Model Placement International{% endblock %}
{%  block content %}
<div class="globe-box">
	<div class="menu-pad">{% include "blocks/menu.html.twig" %}</div>
</div>
{% endblock %}