{% extends "layouts/default.html.twig" %}
{% block title %}Client/Talent Login | Model Placement International{% endblock %}
{%  block content %}
	<div class="grid_3">
		<img src="images/services_splash.png" alt="" />
	</div>
	<div class="grid_3">
		<h1>Client/Talent Login</h1>
		
		<a href="https://modelplacementinternational.agencyprosoftware.com/client/index.php" target="_blank" class="login_button" title="Client Login">Client Login</a>
		
		<a href="http://modelplacementinternational.agencyprosoftware.com/talent/index.php" target="_blank" class="login_button" title="Talent Login">Talent Login</a>
	</div>
	<div class="clear"></div>
{% endblock %}