{% extends "layouts/default.html.twig" %}
{% block title %}Services | Model Placement International{% endblock %}
{%  block content %}
	<div class="grid_3">
		<img src="images/services_splash.png" alt="" />
	</div>
	<div class="grid_3">
		<h1>Services</h1>
		
		<p class="strong">Model Placement International offers representation of all ages of commercial and fashion talent in the following categories:</p>
		<ul>
			<li>* Print</li>
			<li>* Promotional</li>
			<li>* Runway</li>
			<li>* TV/Film</li>
			<li>* Voice</li>
		</ul>
	<p class="strong">MPI offers talent staffing for a wide range of projects including:</p>
		<ul>
			<li>* Commercial/Fashion Print</li>
			<li>* Runway</li>
			<li>* Hairshows</li>
			<li>* Promotional Events</li>
			<li>* TV Commercials / Film</li>
			<li>* Spokesmodels/Event Hosting</li>
			<li>* Liquor Promotions</li>
			<li>* Radio/Voice</li>
		</ul>	
	</div>
	<div class="clear"></div>
{% endblock %}